body {
  padding-top: 64px;
}
.big-title {
  font-size: 8em;
}
.bakery-header-lg h1 {
  color: #eee;
}
.bakery-header-sm h1 {
  color: #eee;
}
.restaurant-header-lg h1 {
  color: #eee;
}
.restaurant-header-sm h1 {
  color: #eee;
}
.bakery-header-lg {
  padding: 150px 100px;
  background: linear-gradient(to left, rgba(0, 0, 0, 0), #000000), url('../img/bakery.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-bottom: 5px solid black;
}
.bakery-header-sm {
  padding: 150px 0px;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../img/bakery.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.restaurant-header-lg {
  padding: 150px 100px;
  background: linear-gradient(to right, rgba(0, 0, 0, 0), #000000), url('../img/dining-1.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.restaurant-header-sm {
  padding: 150px 0px;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../img/dining-1.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.abs-center {
  position: absolute;
  left: 50%;
}
.logo {
  position: relative;
  left: -50%;
  border-radius: 6px;
  top: -6px;
  padding-top: 6px;
  background: white;
}
.logo > img {
  max-height: 200px;
}
