body {
  padding-top: 64px;
}
hr {
  border-color: #d5d5d5;
}
/**
 * Navbar styling
 */
.navbar-brand {
  padding: 8px;
  vertical-align: middle;
}
.navbar-brand img {
  max-height: 50px;
}
.navbar-brand-text {
  display: table-cell;
  vertical-align: middle;
}
/**
 * Footer
 */
footer {
  margin-top: 50px;
}
footer .jumbotron {
  margin-bottom: 0;
  background-color: #e0e0e0;
}
/**
 * Homepage headers (for bakery and restaurant)
 */
.big-title {
  font-size: 8em;
}
.header-bg-styles {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  padding: 150px 0px;
}
.header-bg-styles h1 {
  color: #eee;
}
.bakery-header {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  padding: 150px 0px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../img/bakery.jpg');
}
.bakery-header h1 {
  color: #eee;
}
@media (min-width: 992px) {
  .bakery-header {
    text-align: left;
    padding-left: 100px;
    border-bottom: 5px solid black;
    background-image: linear-gradient(to right, #000000, rgba(0, 0, 0, 0)), url('../img/bakery.jpg');
  }
  .bakery-header h1 {
    font-size: 8em;
  }
}
.restaurant-header {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  padding: 150px 0px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../img/dining-1.jpg');
}
.restaurant-header h1 {
  color: #eee;
}
@media (min-width: 992px) {
  .restaurant-header {
    text-align: right;
    padding-right: 100px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), #000000), url('../img/dining-1.jpg');
  }
  .restaurant-header h1 {
    font-size: 8em;
  }
}
/**
 * Homepage static logo
 */
.static-logo {
  position: fixed;
  left: 50%;
}
.logo {
  position: relative;
  left: -50%;
  border-radius: 6px;
  top: -6px;
  padding-top: 6px;
  background: white;
}
.logo img {
  max-height: 200px;
}
/**
 * Staff section
 */
.chef-portrait {
  max-width: 200px;
}
.chef-portrait-left {
  max-width: 200px;
  margin-right: 20px;
}
.chef-portrait-right {
  max-width: 200px;
  margin-left: 20px;
}
/**
 * Gluten Free section
 */
.gluten-free-logo {
  max-height: 200px;
  margin-bottom: 15px;
}
/**
 * Bakery Menu
 */
@media (min-width: 768px) {
  .sm-text-right {
    text-align: right;
  }
}
.order-btn {
  margin-top: 25px;
}
/**
 * About Us
 */
.honour-rolls-logo {
  max-width: 400px;
  width: 100%;
}
.gfwf-aside {
  background-color: #4CAF50;
}
/**
 * Special Events
 */
.event-img {
  max-width: 400px;
  width: 100%;
  margin-left: 20px;
}
/**
 * In the Community
 */
.catering-img {
  max-width: 400px;
  width: 100%;
  margin-left: 20px;
}
.carousel {
  margin-top: 50px;
  max-width: 580px;
  width: 100%;
}
.carousel .carousel-inner {
  background-color: black;
}
.carousel .carousel-inner .item img {
  opacity: 0.4;
}
