body {
    padding-top: 64px;
}

.bakery-header {
    padding: 150px 100px;
    background: linear-gradient(to left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1)), url('../img/bakery.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-bottom: 5px solid black;
}

.bakery-header h2 {
    font-size: 128px;
    color: #eee;
}

.restaurant-header {
    padding: 150px 100px;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../img/dining-1.jpg');
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
    text-align: right;
}

.restaurant-header h2 {
    font-size: 128px;
    color: #eee;
}

.abs-center {
    position: absolute;
    left: 50%;
}

.logo {
    position: relative;
    left: -50%;
    border-radius: 6px;
    top: -6px;
    padding-top: 6px;
    background: white;
}

.logo > img {
    max-height: 200px;
}
