@import (reference) "../node_modules/bootstrap/less/variables";

// Necessary for fixed navbar
body {
    padding-top: 64px;
}

hr {
    border-color: darken(@hr-border, 10%);
}

/**
 * Navbar styling
 */
.navbar-brand {
    padding: 8px;
    vertical-align: middle;
    img {
        max-height: 50px;
    }
}

.navbar-brand-text {
    display: table-cell;
    vertical-align: middle;
}

/**
 * Homepage headers (for bakery and restaurant)
 */
.big-title {
    font-size: 8em;
}

.header-bg-styles {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    text-align: center;
    padding: 150px 0px;

    h1 {
        color: #eee;
    }
}

.bakery-header {
    .header-bg-styles;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../img/bakery.jpg');
    @media (min-width: @screen-md-min) {
        text-align: left;
        padding-left: 100px;
        border-bottom: 5px solid black;
        background-image: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)), url('../img/bakery.jpg');

        h1 {
            .big-title;
        }
    }
}

.restaurant-header {
    .header-bg-styles;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../img/dining-1.jpg');
    @media (min-width: @screen-md-min) {
        text-align: right;
        padding-right: 100px;
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1)), url('../img/dining-1.jpg');

        h1 {
            .big-title;
        }
    }
}

/**
 * Homepage static logo
 */
.static-logo {
    position: fixed;
    left: 50%;
}

.logo {
    position: relative;
    left: -50%;
    border-radius: 6px;
    top: -6px;
    padding-top: 6px;
    background: white;

    img {
        max-height: 200px;
    }
}

/**
 * Staff section
 */
.chef-portrait {
    max-width: 200px;
    float: left;
    margin-right: 20px;
}

/**
 * Gluten Free section
 */
.gluten-free-logo {
    max-height: 200px;
    margin-bottom: 15px;
}

/**
 * Footer
 */
footer {
    margin-top: 50px;
    .jumbotron {
        margin-bottom: 0;
        background-color: darken(@jumbotron-bg, 10%);
    }
}
